/*============================= form =========================================*/
#form {
    background-color: #fff;
}


#form form{
    font-size: 14pt;
    font-family: Tahoma, Verdana, Segoe, sans-serif;
    margin: auto;
    
}


label {
    color: #000;
    font-size: 1em;
    font-weight: bold;
}

.form-heading {
    border-bottom: 2px solid #ddd;
    font-size: 1.25em;
    font-style: italic;
    font-weight: bold;
    margin-bottom: 1.75em;
    padding-bottom: 0.4em;
}

.text-field{
    display: block;
    float: left;
    margin: 0 0 1.2em;
    padding-right: 0.5em;
    text-align: right;
}

#form input{
    box-sizing: border-box;
    border: 2px solid #000;
    box-shadow: 2px 2px 4px #EBEBEB; 
    border-radius: 3px;
    padding: 1em;
    outline: solid;
}

#form input:focus{
    border: 1px solid #000;
}

#form input[type=submit]{
    background: #005cb3 none repeat scroll 0 0;
    border: medium none;
    border-radius: 3px;
    box-shadow: 1px 1px 4px #dadada;
    color: #fff;
    margin: 1em;
    padding: 0.8em 1.4em;
}

.buttons legend{
    display: none;
}

form{
    width: 50%;
}

fieldset{
    border: 2px dotted #000;
    margin: 10px;
    padding: 10px;
    float: left;
}

p.clear{
    clear: both;
}


fieldset.checkbox{
    padding-right: 3.7%;
}

fieldset.contactInfo{
    padding-right: 14%;
    padding-bottom: 10.13%; 
}


fieldset.radio{
    padding-right: 1.7%;
}

fieldset.textarea{
    clear: both;
    margin-left: 21.95%;
  
}

fieldset.listbox{
    padding-right: 3%;
}



fieldset.buttons{
    clear: both;
    margin-left: 33.7%;

}

/* style the errors in the form so they are visible */
.mistake {
    color: #fff;
    background-color:#800;
    border: thin solid #000;
}

#errors ol li{
    color: #ff5555;
} 

.check-field{
    margin: 0 0 1.25em 7.5em;
}

radio-field{
    margin: 0 0 1.25em 7.5em;
}

.required text-field {
    text-align: center
}

.buttons{
    text-align: center
}

/*=================================== nav ====================================*/
html, body {
    margin:5px 5px 5px 5px;
    padding:5px 5px 5px 5px;
    width:100%;
    height:100%;
    font-family: Tahoma, Verdana, Segoe, sans-serif;   
}

#featured .column {
    float: left;
    width: 33%;
    padding: 0px;
}

div{    
    display: block;    
}

.row {
  position: relative;
}

header{
    text-align: center;  
}

footer{
    text-align: right;
    padding-right: 3%
}

 nav ol {
    padding-left: 0em;
    text-align: center;
}
   
 nav ol li{     
       display: inline-block;
       list-style-type: none;
       padding: 1em 2em 1em 2em;
}
  
nav a{
   font-family: Tahoma, Verdana, Segoe, sans-serif;
   font-size: 1.25em; 
   color: black;
}
header h1{
    font-family: Tahoma, Verdana, Segoe, sans-serif;
    font-size: 2.5em;
}

/*=============================== galleries ==================================*/
#galleries p{
    max-width: 85%;
    margin-left: 4%;
    margin-right: 4%;
     
}

#galleries h2.fleming{
    text-align: left;
    color: #0000cc;
    padding-top: 1%;
    margin-left: 7%
        
}

#galleries h2.bca{
    text-align: right;
    color: #0000cc;
    padding-top: 4%;
    margin-right: 10%; 
        
}

#galleries h2.frog{
    text-align: left;
    color: #0000cc;
    padding-top: 10%;
    margin-left: 3%
}

#galleries h2.champlain{
    text-align: right;
    color: #0000cc;
    padding-top: 4%;
    margin-right: 11.5%
        
}

#galleries .photoFleming{
    height: 35%;
    width: 35%;
    float: left;
    margin-right: 3%
}

#galleries img.photoBCA{
    height: 15%;
    width: 20%;
    float: right;
    margin-left: 3%
}

#galleries img.photoFrog{
    height: 28%;
    width: 23%;
    float: left;
    margin-right: 3%;
}

#galleries img.photoChamplain{
    height: 30%;
    width: 30%;
    float: right;
    margin-left: 3%
}

#galleries h3{
    margin-top: 10%;
    text-align: center;
}

#galleries iframe{
    padding-left: 29%;
}
